
<div class="container bg-transparent">
  <h1 class="text-center">YOUR LISTS</h1>


  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-12 align-self-center">
        <%= link_to list_path(list), :action => 'go' do %>
          <div class="movie-card" data-aos="fade-up" style="background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.83)),
            url('<%= list.movies.sample.poster_url %>');">
            <div class="vertical-flex">
              <div class="pseudo-element"></div>
              <div><h2 class='card-title'><%= list.name %></h2></div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="col-12 align-self-center">
      <%= link_to new_list_path, :action => 'go' do %>
        <div class="movie-card" data-aos="fade-up" style="background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.83));">
          <div class="vertical-flex">
            <div><h2 class='add-movie text-center'>Add List</h2></div>
          </div>
        </div>
      <% end %>
    </div>

</div>
