<div class="container">
  <h1 class="pl-0">Add new list</h1>
  <%= simple_form_for @list do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit, class: "btn-primary"%>
  <% end %>
</div>
